@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&family=Space+Mono:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #393e46;
    font-family: 'Roboto';
}

.header {
    background-color: #222831;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1{
    font-weight: 900;
    color: chocolate;
    font-size: 46px;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-size: 30px;
}

.choices {
    display: flex;
    gap: 2rem;
    margin-bottom: 40px;
}

.button{
    color: black;
    font-size: 16px;
    font-weight: 900;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width:150px;
}

.button:hover {
    background-color: chocolate;
    color: white;
}

.scores{
    display: flex;
    gap:8em;
}

.current-score{
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    color: white;
    margin-bottom: 30px;
}

.score-text{
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.result{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}